.rating {
  text-align: left;
  unicode-bidi: bidi-override;
  direction: rtl;
  display: block;
  padding: $m-space 0;
}

.rating & label{
  font-size: $s-size;
  display: block;
  padding-bottom: 1rem;
}

.rating {
  .star {
    font-size: 2.5rem;

    &.selected {
      content: "\2605";
      color: $gold-yellow;
    }
  }
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   color: $gold-yellow;
   position: absolute;
}
