html, body {
  background-color: $light-grey;
  margin: 0;
  font-size: 10px;
  height: 100%;
  min-height: 100%;
  position: relative;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
}

.page {
  padding: 3rem 3rem 3rem 28.6rem;
}
p {
  font-size: $s-size;
  font-family: Roboto, sans-serif;
  padding: 0 0 2rem 0;
  line-height: $l-size;
}
