@import "../../../common/sass/common.scss";
@import "../../login/sass/login.scss";
@import "../../register/sass/register.scss";
@import "../../candidate-feedback/sass/candidate-feedback.scss";
@import "../../candidate-feedback/components/star-rating/sass/star-rating.scss";
@import "../../dashboard/components/stats-card/sass/stats-card.scss";

#app {
  height: 100%;
  min-height: 100%;
}

.app-container {
  height: 100%;
  min-height: 100%;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
