.stats-card {
  margin: 0 1.5%;
  padding: 3rem;
  width: 30%;
  display: inline-block;

  &.red {
    border-left: solid 3px $light-red;
  }
  &.blue {
    border-left: solid 3px $light-blue;
  }
  &.green {
    border-left: solid 3px $light-green;
  }

  .statistic {
    display: block;
    font-size: $m-size;
    padding-bottom: $s-size;
  }
  .value {
    display: block;
    font-size: $xl-size;
  }
}
